<!--
LDAP based authentication handler for Leihs 
Copyright 2022 ELAN e.V.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!doctype html>
<html>
<title>Login</title>
<body style="width: 100px; margin: 100px auto;">
<form action="/" method="POST">
    <input type="hidden" name="token" value="{{ token }}"/>
    <input type="text" name="user" value="{{ user }}" readonly />
    <input type="password" name="password" placeholder="password" autofocus />
    <button type="submit">Login</button>
</form>
</body>
</html>
